.button {
    padding: 100px 0 20px 0;
    display: flex;
    justify-content: space-around;
}



.button button:hover {
    transform: rotateY(1);
    background-color: rgb(0, 0, 85);
}
.search_input{
    border: 1px solid black;
    border-radius: 5px;
}